<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{usedallea/member/layout.html}">
<div layout:fragment="content">
	<div align="center">
	<h4>로그인</h4>
	<br><br>
	<input type="text" id ="userId" placeholder="아이디를 입력하세요." required>
	<br><br>
	<input type="password" id ="password" placeholder="패스워드를 입력하세요." required>
	<br><br>
	<label id="loginFaileMsg"></label>
	<br>
	<input type="button" id="loginBtn" value="로그인">
</div>

  <script>
	$(function(){
		   $("#password").blur(function(){
			   var loginData = {
				   "userId" : $("#userId").val(),
				   "password" : $("#password").val()
			   }
			   
			   $.ajax({
				   url: "/member/login",
				   type: "post",
				   contentType: "application/json",
				   data: JSON.stringify(loginData),
				   success: function (validateLogin) {
					   if (validateLogin == "y") {
						   $("#loginBtn").click(function(){
						   location.href='/member/main';						 
						 });
					   }
					   else if(validateLogin == "n"){
						   $("#loginFaileMsg").html("<span style='color:red;'>아이디와 패스워드가 일치하지 않습니다.<br>입력한 내용을 다시 한번 확인해주세요.</span>");
						  
					   }
				   }
			   });
		   });
	   });

  </script>
</html>