<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout.html}">

<head>
    <link rel="stylesheet" href="/css/common/main.css" type="text/css">
</head>

<div class="product-list-container" layout:fragment="contents">

    <section style="background-color: grey; width: 100%; height: 300px;">
        Slide
    </section>

    <section class="today-recommended">
        <h3>오늘의 상품 추천</h3>		

        <div class="item-list">

            <!-- 상품 단건 이미지 -->
            <div class="item">
                <a>
                    <div class="item__body" th:text="${product.img}">
                        <img src="https://picsum.photos/seed/picsum/200/300" />
                    </div>
                    <div class="item__footer">
                        <div class="item__footer--title"
                             th:text="${product.title}">
                            풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.
                        </div>
                        <div class="item__footer--price" th:text="${product.price}">
                            100,000,000원
                        </div>
                        <div class="item__footer--date" th:text="${product.createdAt}">
                            7일 전
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a>
                    <div class="item__body">
                        <img src="https://picsum.photos/seed/picsum/200/300" />
                    </div>
                    <div class="item__footer">
                        <div class="item__footer--title"
                             th:title="${'풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.'}">
                            풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.
                        </div>
                        <div class="item__footer--price">
                            100,000,000원
                        </div>
                        <div class="item__footer--date">
                            7일 전
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a>
                    <div class="item__body">
                        <img src="https://picsum.photos/seed/picsum/200/300" />
                    </div>
                    <div class="item__footer">
                        <div class="item__footer--title"
                             th:title="${'풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.'}">
                            풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.
                        </div>
                        <div class="item__footer--price">
                            100,000,000원
                        </div>
                        <div class="item__footer--date">
                            7일 전
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a>
                    <div class="item__body">
                        <img src="https://picsum.photos/seed/picsum/200/300" />
                    </div>
                    <div class="item__footer">
                        <div class="item__footer--title"
                             th:title="${'풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.'}">
                            풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.
                        </div>
                        <div class="item__footer--price">
                            100,000,000원
                        </div>
                        <div class="item__footer--date">
                            7일 전
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a>
                    <div class="item__body">
                        <img src="https://picsum.photos/seed/picsum/200/300" />
                    </div>
                    <div class="item__footer">
                        <div class="item__footer--title"
                             th:title="${'풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.'}">
                            풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.
                        </div>
                        <div class="item__footer--price">
                            100,000,000원
                        </div>
                        <div class="item__footer--date">
                            7일 전
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a>
                    <div class="item__body">
                        <img src="https://picsum.photos/seed/picsum/200/300" />
                    </div>
                    <div class="item__footer">
                        <div class="item__footer--title"
                             th:title="${'풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.'}">
                            풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.
                        </div>
                        <div class="item__footer--price">
                            100,000,000원
                        </div>
                        <div class="item__footer--date">
                            7일 전
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a>
                    <div class="item__body">
                        <img src="https://picsum.photos/seed/picsum/200/300" />
                    </div>
                    <div class="item__footer">
                        <div class="item__footer--title"
                             th:title="${'풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.'}">
                            풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.
                        </div>
                        <div class="item__footer--price">
                            100,000,000원
                        </div>
                        <div class="item__footer--date">
                            7일 전
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a>
                    <div class="item__body">
                        <img src="https://picsum.photos/seed/picsum/200/300" />
                    </div>
                    <div class="item__footer">
                        <div class="item__footer--title"
                             th:title="${'풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.'}">
                            풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.
                        </div>
                        <div class="item__footer--price">
                            100,000,000원
                        </div>
                        <div class="item__footer--date">
                            7일 전
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a>
                    <div class="item__body">
                        <img src="https://picsum.photos/seed/picsum/200/300" />
                    </div>
                    <div class="item__footer">
                        <div class="item__footer--title"
                             th:title="${'풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.'}">
                            풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.
                        </div>
                        <div class="item__footer--price">
                            100,000,000원
                        </div>
                        <div class="item__footer--date">
                            7일 전
                        </div>
                    </div>
                </a>
            </div>

            <div class="item">
                <a>
                    <div class="item__body">
                        <img src="https://picsum.photos/seed/picsum/200/300" />
                    </div>
                    <div class="item__footer">
                        <div class="item__footer--title"
                             th:title="${'풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.'}">
                            풍경 사진입니다. 제목이 너무 길면 축약해서 보여줍니다.
                        </div>
                        <div class="item__footer--price">
                            100,000,000원
                        </div>
                        <div class="item__footer--date">
                            7일 전
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>

<script>
</script>
</html>