<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout.html}">
<head>
    <link rel="stylesheet" href="/css/common/main.css" type="text/css">
</head>
<body>
<div align="center" style="padding-top: 100px" layout:fragment="contents">
<!--seller의 정보를 전달해야됨-->
    <h2><a th:href="@{/usedallea/main}">내 상점 관리</a></h2>
    <table border="1" >
        <colgroup>
            <col width="10%">
            <col width="40%">
            <col width="50%">
            <col width="20%">
            <col width="50%">
        </colgroup>
        <tr>
            <div align="center" >
            <input type="text" id="searchTitle" name="searchTitle" placeholder="상품명을 입력하세요" maxlength="40">
            <input type="button" value="검색" onclick="getMyProductList()">
            </div>
            <div align="left">
                <span th:text="|총 ${allProductCntBySeller} 개|"></span>
            </div>
            <div align="right" >
                <select id="onePageProductCnt" onchange="getMyProductList()" >
                    <option value="5">5개씩</option>
                    <option value="7">7개씩</option>
                    <option value="10">10개씩</option>
                </select>
            </div>
        <br>
        </tr>
        <thead>
        <tr align="center">
            <th>사진</th>
            <th>판매상태</th>
            <th>상품명</th>
            <th>가격</th>
            <th>조회수</th>
            <th>찜</th>
            <th>최근수정일</th>
            <th>기능</th>
        </tr>
        </thead>
        <tbody id="productList">
        <tr align="center" th:each="productDTO : ${productListBySeller}">
            <td>
                <a th:href="@{/product/detail(productId=${productDTO.productId})}">
                    <input type="hidden" id="sellerId" name="sellerId" th:value="${productDTO.sellerId}">
                    <input type="hidden" id="productId" name="productId" th:value="${productDTO.productId}">
                    <img th:src="@{/img/setThumbnail(imgName=${productDTO.firstImgUUID})}" alt="이미지"/>
                </a>
            </td>
            <td th:text="${productDTO.status}"></td>
            <td th:text="${productDTO.title}"><a href=""></a></td>
            <td th:text="|${productDTO.price} 원|"></td>
            <td th:text="|${productDTO.readCount} 회|"></td>
            <td th:text="|${productDTO.zzimCount} 개|"></td>
            <td th:text="${#temporals.format(productDTO.updatedAt,'yyyy-MM-dd HH:mm')}"></td>
            <td><button><a th:href="@{/product/update(productId=${productDTO.productId})}">수정</a></button></td>
        </tr>
        </tbody>
    </table>
    <div style="display: table; margin-left: auto; margin-right: auto">
        <ul th:align="center">
            <li th:if="${startPage > 10}">
                <a th:href="|javascript:getMyProductList(${startPage - 10})|">◀&nbsp;</a>
            </li>
            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a th:if="${page != currentPageNumber}" th:href="|javascript:getMyProductList(${page})|" th:text="${page }"></a>&nbsp;
                <strong th:if="${page == currentPageNumber}" th:text="${page}"></strong>
            </th:block>
            <li th:if="${endPage >= 10 && endPage != allPageCnt}">
                <a th:href="|javascript:getMyProductList(${startPage + 10})|">&nbsp;▶</a>
            </li>
        </ul>
    </div>
    <script>
        $().ready(function(){
            $("#onePageProductCnt").val("[[${onePageProductCnt}]]");
        });
        function getMyProductList(currentPageNumber){
            let url = "/product/productManager"
            // url += "?productId="+$("#productId").val();
            url += "?sellerId="+$("#sellerId").val();
            url += "&onePageProductCnt="+$("#onePageProductCnt").val();
            if(currentPageNumber != null){
                url += "&currentPageNumber="+currentPageNumber;
            }
            if($("#searchTitle").val() != ''){
                url += "&searchTitle="+$("#searchTitle").val();
            }
            location.href=url;
        }

        $("#searchTitle").keypress(function (event){
            if(event.keyCode == 13){
                getMyProductList();
            }
        });

    </script>
</div>
</body>
</html>