<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout.html}">
<head>
    <link rel="stylesheet" href="/css/product/detail.css" type="text/css">
</head>
<div class="product-detail-container" layout:fragment="contents">
    <input type="hidden" name="productId" th:value="${productDTO.productId}"/>
    <div class="product-detail__category"></div>


    <div class="product-detail__info-wrap">
        <div class="product-detail__img-wrap" >
            <div th:each="imgUUID :${imgUUIDList}">
                <img th:src="@{/img/setThumbnail(imgName=${imgUUID})}" alt="이미지">
            </div>
        </div>

        <div class="product-detail__info">
            <div class="product-detail__info--title">
                <div class="title" th:text="${productDTO.title}">
                   <span th:text="${productDTO.title}"></span>
                </div>
                <div class="price">
                    <span th:text="${productDTO.price}"></span>
                    <span>원</span>
                </div>
            </div>

            <div class="product-detail__status">
                <div class="product-detail__view">
                    <div class="product-detail__statistics">
                        <span>
                            <img src="/img/zzim.png" />
                            0
                        </span>
                        <span>
                            <img src="/img/views.png"/><span th:text="${productDTO.readCount}"></span>
                        </span>
                        <span>
                            <img src="/img/time.png" />
                            1주 전
                        </span>
                    </div>
                </div>

                <div class="product-detail__status-row">
                    <div class="product-detail__condition--name" >
                        상품상태
                    </div>&emsp;
                    <div class="product-detail__condition--value">
	                    <span th:text="${productDTO.qualityCondition}"></span>
                    </div>
                </div>
                <BR>
	            <div>
		            <div class="product-detail__sell_status--name">
			            판매상태
		            </div>
		            <div class="product-detail__sell_status--value">
			            <span th:text="${productDTO.status}"></span>
		            </div>
	            </div>
                <div class="product-detail__action-wrap">
                    <button class="product-detail__button--manager">
                        내 상점 관리
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="product-detail__line"></div>

    <div class="product-detail__introduce">
        <div class="product-detail__introduce--title">
            상품 정보
        </div>

        <div class="product-detail__description">
            <pre>
			 <span th:text="${productDTO.description}"></span>
            </pre>
        </div>
    </div>

    <div class="product-detail__etc">
        <div>
            <div class="product-detail__etc--category">카테고리</div>
            <div><a th:Text="${productDTO.category}"></a></div>
        </div>
        <div>
	        <!--이거는 빼는걸루..-->
            <div class="product-detail__etc--name">상품태그</div>
            <div>#N3BP #리바이스 #데님진 #현행</div>
        </div>
    </div>
</div>

<div class="product-detail__info-wrap">
    <div class="product-detail__img-wrap" id="imgList">
        <!-- 이미지가 여기에 추가됩니다 -->
    </div>
</div>
</html>