<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin/layout.html}">
<head>
    <meta charset="UTF-8">
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<div layout:fragment="contents">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">회원 리스트</h1>
                <br>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        userManagement Table
                    </div>
                    <div class="card-body">
                        <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns"></div>
                    <!--    <table border="1">
                            <colgroup>
                                <col width="20%">
                                <col width="20%">
                                <col width="20%">
                                <col width="20%">
                                <col width="20%">
                            </colgroup>
                            <tr>-->
                                <div align="right">
<!--                                    <input type="text" id="searchbar" placeholder="입력하세요" maxlength="20">-->
<!--                                    <input type="button" value="검색">&lt;!&ndash;이름, 아이디, 상품명 검색&ndash;&gt;-->
                                    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                                        <div class="input-group">
                                            <input class="form-control" type="text" placeholder="입력하세요" aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                                            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <div align="left">
                                    <select id="onePageViewCnt">
                                        <option value="5">5</option>
                                        <option value="7">7</option>
                                        <option value="10" selected>10</option>
                                    </select>
                                </div>
<!--                            </tr>-->
                            <table border="1">
                                <colgroup>
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                </colgroup>
                            <thead>
                            <tr>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>전화 번호</th>
                                <th>판매상품</th>
                                <th>주소</th>
                                <th>가입날짜</th>
                            </tr>
                            </thead>
                            <tbody id="memberList" >
                            <tr>
                                <td>userId</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
</div>
</html>