<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>update</title>
	<script th:src="@{http://dmaps.daum.net/map_js_init/postcode.v2.js}"></script>
	<script src="/js/jquery-3.6.1.min.js"></script>
</head>
  <!--th:Object 활용-->
<div align="center">
	<h1 th:text="|${session.userId} 님,|"></h1>
	<h4>기본 정보 수정이 필요하시나요?</h4>
	<form th:action="@{/member/update}" th:object="${memberDTO}" method="post">

		<div>닉네임<span style="color:darkblue;">*</span></div>
		<input type="text" th:field="*{nickname}"/>
		<br>
		<div>전화번호<span>*</span></div>
		<input type="text" th:field="*{phoneNumber}"/>
		<br>
		<div>SMS 마케팅 수신 동의여부<span>*</span></div>
		<input type="checkbox" th:field="*{smsstsYn}" value="y"/>
		<br>
		<div>이메일<span>*</span></div>
		<input type="text" th:field="*{email}"/><br>
		<div>이메일 마케팅 수신 동의여부<span>*</span></div>
		<input type="checkbox" th:field="*{emailstsYn}" value="y"/>
		<br>
		<div>주소<span>*</span></p>
			<span>우편번호 검색</span>
			<input type="text"  placeholder="우편번호 입력" th:field="*{zipCode}">
			<input type="button" th:onclick="|javascript:execDaumPostcode()|" value="검색">
		</div>
		<br>
		도로명 주소 : <input type="text" th:field="*{roadAddress}"size="60">
		<br><br>
		지번 주소 : <input type="text"  th:field="*{jibunAddress}" size="60">
		<br><br>
		나머지 주소: <input type="text" th:field="*{namujiAddress}" size="60">
		<br><br>
		<input type="submit" value="수정하기" ><br>
		<input type="button" value="탈퇴하기" th:onclick="|location.href='@{/member/delete}'|"><br>
		<a th:href="@{/usedallea/main}">메인으로 이동</a>
	</form>
</div>
<script>
	function execDaumPostcode() {
		new daum.Postcode({
			oncomplete: function (data) {
				// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

				// 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
				// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
				var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
				var extraRoadAddr = ''; // 도로명 조합형 주소 변수

				// 법정동명이 있을 경우 추가한다. (법정리는 제외)
				// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
				if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
					extraRoadAddr += data.bname;
				}
				// 건물명이 있고, 공동주택일 경우 추가한다.
				if (data.buildingName !== '' && data.apartment === 'Y') {
					extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
				}
				// 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
				if (extraRoadAddr !== '') {
					extraRoadAddr = ' (' + extraRoadAddr + ')';
				}
				// 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
				if (fullRoadAddr !== '') {
					fullRoadAddr += extraRoadAddr;
				}

				document.getElementById('zipCode').value = data.zonecode;
				document.getElementById('roadAddress').value = fullRoadAddr;
				document.getElementById('jibunAddress').value = data.jibunAddress;

			}
		}).open();
	}
</script>
</html>