<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.usedallea.img.dao.ImgDAO">
	<insert id="saveImg" parameterType="ProductDTO">
		<selectKey keyProperty="imgId" resultType="long" order="AFTER">
			SELECT
			IMG_ID
			FROM
			IMG
			WHERE
			IMG_ID = #{imgId}
		</selectKey>
		INSERT INTO IMG(
		IMG_ID,
		IMG_UUID,
		ORIGINAL_NAME
		)
		VALUES(
		#{imgId},
		#{imgUUID},
		#{originalName}
		)
	</insert>
</mapper>